<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csb.core.mybatis.AppCategoryRepositoryMybatis">

    <resultMap type="AppCategory" id="appCategoryMap">
        <id property="name" column="NAME"/>
    </resultMap>

    <select id="findById" parameterType="String" resultMap="appCategoryMap">
         select * from tbl_csb_app_category
         where  id = #{id}
	</select>


</mapper>