<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.core.mapper.CsbPlatformIaasPlanMapper">
  <resultMap id="BaseResultMap" type="com.csb.core.model.CsbPlatformIaasPlan">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="LAST_UPDATED_BY" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DT" jdbcType="TIMESTAMP" property="lastUpdatedDt" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="cpus" jdbcType="INTEGER" property="cpus" />
    <result column="flavor" jdbcType="VARCHAR" property="flavor" />
    <result column="image_name" jdbcType="VARCHAR" property="imageName" />
    <result column="instance_count" jdbcType="VARCHAR" property="instanceCount" />
    <result column="instance_name" jdbcType="VARCHAR" property="instanceName" />
    <result column="memory" jdbcType="VARCHAR" property="memory" />
    <result column="provider" jdbcType="VARCHAR" property="provider" />
    <result column="storage" jdbcType="VARCHAR" property="storage" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>