<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.core.mapper.CsbPlatformSaasAssignmentPlanMapper">
  <resultMap id="BaseResultMap" type="com.csb.core.model.CsbPlatformSaasAssignmentPlan">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="LAST_UPDATED_BY" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DT" jdbcType="TIMESTAMP" property="lastUpdatedDt" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="creator_email" jdbcType="VARCHAR" property="creatorEmail" />
    <result column="creator_firstname" jdbcType="VARCHAR" property="creatorFirstname" />
    <result column="creator_lastname" jdbcType="VARCHAR" property="creatorLastname" />
    <result column="creator_openid" jdbcType="VARCHAR" property="creatorOpenid" />
    <result column="external_accout_id" jdbcType="VARCHAR" property="externalAccoutId" />
    <result column="external_assignment_id" jdbcType="VARCHAR" property="externalAssignmentId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_firstname" jdbcType="VARCHAR" property="userFirstname" />
    <result column="user_lastname" jdbcType="VARCHAR" property="userLastname" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
  </resultMap>
</mapper>