<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.core.mapper.OrderPlanCostMapper">
  <resultMap id="BaseResultMap" type="com.csb.core.model.OrderPlanCost">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="LAST_UPDATED_BY" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DT" jdbcType="TIMESTAMP" property="lastUpdatedDt" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="discount_percentage" jdbcType="REAL" property="discountPercentage" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="order_plan_id" jdbcType="BIGINT" property="orderPlanId" />
  </resultMap>
</mapper>