<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.core.mapper.PlatformSaasSubscriptionPlanMapper">
  <resultMap id="BaseResultMap" type="com.csb.core.model.PlatformSaasSubscriptionPlan">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_dt" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="last_updated_dt" jdbcType="TIMESTAMP" property="lastUpdatedDt" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_phonenumber" jdbcType="VARCHAR" property="companyPhonenumber" />
    <result column="company_uuid" jdbcType="VARCHAR" property="companyUuid" />
    <result column="creator_email" jdbcType="VARCHAR" property="creatorEmail" />
    <result column="creator_firstname" jdbcType="VARCHAR" property="creatorFirstname" />
    <result column="creator_lastname" jdbcType="VARCHAR" property="creatorLastname" />
    <result column="creator_openid" jdbcType="VARCHAR" property="creatorOpenid" />
    <result column="external_accout_id" jdbcType="VARCHAR" property="externalAccoutId" />
    <result column="notification_type" jdbcType="VARCHAR" property="notificationType" />
    <result column="plan_code" jdbcType="VARCHAR" property="planCode" />
    <result column="previous_subscription_status" jdbcType="VARCHAR" property="previousSubscriptionStatus" />
  </resultMap>
</mapper>