<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csb.core.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.csb.core.model.Resource">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="LAST_UPDATED_BY" jdbcType="VARCHAR" property="lastUpdatedBy" />
    <result column="LAST_UPDATED_DT" jdbcType="TIMESTAMP" property="lastUpdatedDt" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  
  <select id="findByRoleId" resultType="com.csb.core.model.Resource">
	     SELECT 
		    res.id, res.name, res.url
		FROM
		    aa_resource res,
		    aa_role r,
		    aa_role_resource rres
		WHERE
		    r.id = rres.role_id
		        AND rres.resource_id = res.id
		        AND r.id = #{id}
   </select>
</mapper>